.txt-loading{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(21, 19, 46);
    
}

.camera-background{
    height: 100%;
    width: auto;
    left: 525px;
    height: 490px;
    width: 459px;  
    position: relative;
    display:  flex;
    align-items: center;
    justify-content: center;
    

}
.video{
    top: 250px;
    position: absolute;
    left: 550px; 
    height: 100%;
    width: auto;
    transform: rotateY(180deg);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 410px;
    width: 410px;  
    border-radius: 50%;
    z-index: 10;
}
.border-loading{
    position: relative;
    pointer-events: none;
    height: 63vmin;
    left: 72.9vmin;
    z-index: 10;
    bottom: 473px;
  
    background-color: none;
  }
@media (prefers-reduced-motion: no-preference) {
  .border-loading{
    animation: border-spin infinite 20s linear;
  }
}
@keyframes border-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .face-frame{
    
    position: absolute;
    pointer-events: none;
    height: 40vmin;
    bottom: 136px;
    left: 93vmin;
    z-index: 10;
    
  }

 